@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-margin {
    margin-left: 6rem;
    margin-right: 6rem;
}


body{
    background: #202225;


}

.custom-font{
    font-family: "Montserrat Alternates", serif;
}